<template>
  <b-overlay id="overlay-background" :show="show" :opacity="0">
    <!-- Модуль регистрации -->
    <div class="container">
      <div class="container-fluid h-100">
        <b-alert v-if="showDismissibleAlert" show variant="success">Регистрация прошла успешно!</b-alert>
        <div v-if="errors.length">
          <b-alert v-for="(err, i) in errors" :key="i" show variant="danger">{{err}}</b-alert>
        </div>
        <b-row class="row justify-content-center align-items-center h-100">
          <b-col class="col col-sm-6 col-md-6 col-lg-4 col-xl-4">
            <h3>Для регистрации заполните поля</h3>
            <b-form action="">
              <b-form class="form-group">
                <b-form-input v-model="name" type="text" name="name" class="form-control form-control-lg" placeholder="Ваше имя..." ></b-form-input>
              </b-form>
              <b-form class="form-group">
                <b-form-input v-model="login" type="text" name="login" _ngcontent-c0="" class="form-control form-control-lg" placeholder="Ваш логин..."></b-form-input>
              </b-form>
              <b-form class="form-group">
                <b-form-input v-on:keyup.enter="clickAuth" v-model="pass" type="password" name="password" class="form-control form-control-lg" placeholder="Ваш пароль..." ></b-form-input>
              </b-form>
              <b-form class="form-group">
                <b-button @click="clickReg" variant="success" class="btn btn-success btn-lg btn-block">Зарегистрироваться</b-button>
              </b-form>
              <div class="form-group">
                <router-link to = "/auth">Назад</router-link>
              </div>
            </b-form>
          </b-col>
        </b-row>
      </div>
    </div>
  </b-overlay>
</template>
<script>
import ApiChat from '@/API/Chat'

export default {
  name: 'ChatReg',
  data(){
    return {
      name: '',
      login: '',
      pass: '',
      errors: [],
      showDismissibleAlert : false,
      show: false
    }
  },
  methods: {
  // Регистрация
  clickReg () {
    const self = this
    self.show = true
    ApiChat.clickReg(self.name, self.login, self.pass)
      .then(res => {
        const uid = res.data.uid,
              name = res.data.name,
              isErrors = res.data.isErrors;
        if (!isErrors){
          self.name = ''
          self.login = ''
          self.pass = ''
          self.showDismissibleAlert = true
          setTimeout(() => {
            if (self.$route.path !== '/auth'){
              self.$router.replace({path: '/auth'});
              self.show = false;
            } 
          }, 5000);
        } else {
          self.errors = res.data.strErrors;
          self.show = false;
        }
      })
      .catch(error => console.log(error))
  },
  },
  mounted () {
  }
}
</script>
<style scoped>
body,html {
    height: 100%;
}
.container {
  height: 800px;
}
</style>