<template>
  <b-overlay id="overlay-background" :show="show" :opacity="0">
    <!-- Модуль авторизации -->
    <div class="container">
      <div class="container-fluid h-100">
        <div v-if="errors.length">
          <b-alert v-for="(err, i) in errors" :key="i" show variant="danger">{{err}}</b-alert>
        </div>
        <b-row class="row justify-content-center align-items-center h-100">
          <b-col class="col col-sm-6 col-md-6 col-lg-4 col-xl-4">
            <h3>Для общения выполните вход</h3>
            <b-form action="">
              <b-form class="form-group">
                <b-form-input v-model="login" type="text" name="login" _ngcontent-c0="" class="form-control form-control-lg" placeholder="Ваш логин..."></b-form-input>
              </b-form>
              <b-form class="form-group">
                <b-form-input v-on:keyup.enter="clickAuth" v-model="pass" type="password" name="password" class="form-control form-control-lg" placeholder="Ваш пароль..." ></b-form-input>
              </b-form>
              <b-form class="form-group">
                <b-button @click="clickAuth" class="btn btn-success btn-lg btn-block">Войти</b-button>
              </b-form>
              <div class="form-group">
                <router-link to = "/reg">Регистрация</router-link>
              </div>
            </b-form>
          </b-col>
        </b-row>
      </div>
    </div>
  </b-overlay>
</template>
<script>
import ApiChat from '@/API/Chat'

export default {
  name: 'ChatLogin',
  data () {
    return {
      login: '',
      pass: '',
      errors: [],
      show: false,
    }
  },
  methods: {
    // Авторизация
    clickAuth () {
      const self = this
      self.show = true
      ApiChat.clickAuth(self.login, self.pass)
        .then(res => {
          const uid = res.data.uid,
                isErrors = res.data.isErrors;
          if (!isErrors){
            localStorage.setItem('uid', uid);
            self.$root.chatVue.checkAuth ();
            self.login = ''
            self.pass = ''
            if (self.$route.path !== '/main'){
              self.$router.replace({path: '/main'});
              self.show = false
            }
          } else {
            self.errors = res.data.strErrors;
            self.show = false
          }
        })
        .catch(error => console.log(error))
    }
  }
}
</script>

<style scoped>
.container {
  height: 800px;
}
</style>