<template>
  <router-view></router-view>
</template>

<script>
import ApiChat from '@/API/Chat'

export default {
  name: 'Chat',
  methods: {
    checkAuth () {
      const self = this
      let uid = localStorage.getItem('uid');
      if (uid !== 'undefined'){
        ApiChat.checkAuth(uid)
          .then(res => {
            const result = res.data;
            if (!result.isErrors){
              self.$root.name = result.name;
              self.$root.login = result.login;
              self.$root.id_user = result.id_user;
              if (self.$route.path !== '/main'){
                self.$router.replace({path: '/main'})
              }
            } else {
              if(self.$route.path !== '/auth'){
                self.$router.replace({path: '/auth'})
              } 
            }
          })
          .catch(error => console.log(error)) 
      } else if (self.$route.path !== '/auth'){
        self.$router.replace({path: '/auth'})
      } 
    },
  },
  mounted () {
    this.checkAuth();
    this.$root.chatVue = this;
  }
}
</script>

<style>
body {
  background-color: #74EBD5;
  background-image: linear-gradient(100deg, #74EBD5 0%, #9FACE6 100%);

  min-height: 100vh;
}
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
textarea {
  font-size: 14px;
  resize: none;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  margin-bottom: 10px;
  width: 50%;
}
.modal-backdrop {
  background-image: url('../assets/bgr2.jpg') !important;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  width: 5px;
  background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  width: 1em;
  background-color: #ddd;
  outline: 1px solid slategrey;
  border-radius: 1rem;
}

.text-small {
  font-size: 0.9rem;
}

.messages-box,
.chat-box {
  height: 610px;
  overflow-y: scroll;
}

.rounded-lg {
  border-radius: 0.5rem;
}

input::placeholder {
  font-size: 0.9rem;
  color: #999;
}

.mb-3, .my-3 {
    margin-bottom: none !important;
}
</style>
