<template>
  <!-- Станица чата -->
  <div id="messages">
    <b-overlay id="overlay-background" :show="show" :opacity="0">
      <div class="container py-5 px-4 bv-example-row bv-example-row-flex-cols">
        <header class="text-center">
          <p class="text-white lead mb-0">Ваш логин: {{ $root.login }}</p>
          <p class="text-white lead mb-8">{{ $root.name }}</p>
          <div v-if="errors.length">
            <b-alert
              v-for="(err, i) in errors"
              :key="i"
              show
              variant="danger"
              >{{ err }}</b-alert
            >
          </div>
        </header>
        <!-- Users box-->
        <b-row align-v="center">
          <div class="col-4 px-0">
            <div class="bg-white">
              <div class="bg-gray px-4 py-2 bg-light">
                <p class="h5 mb-0 py-1">Пользователи</p>
              </div>
              <div class="messages-box">
                <template v-for="user in users">
                  <div
                    v-if="checkShowUser(user._id)"
                    :key="user._id"
                    class="list-group rounded-0"
                  >
                    <a
                      @click="clickUser(user)"
                      :class="[userIdActivChat == user._id ? 'active' : '']"
                      class="list-group-item list-group-item-action list-group-item-light rounded-0"
                    >
                      <!-- active text-white-->
                      <div class="media">
                        <img
                          src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg"
                          alt="user"
                          width="50"
                          class="rounded-circle"
                        />
                        <h6 class="font-italic mb-0 text-small">
                          {{ user.name }}
                        </h6>
                        <div class="media-body ml-4">
                          <!-- <div class="d-flex align-items-center justify-content-center mb-1"> -->
                          <!-- <h6 class="font-italic mb-0 text-small">{{user.name}}</h6> -->
                          <!-- </div> -->
                        </div>
                      </div>
                    </a>
                  </div>
                </template>
              </div>
            </div>
          </div>
          <!-- Chat Box-->
          <div class="col-8 px-0">
            <div class="chat-box px-4 py-5 bg-white">
              <!-- Sender Message-->
              <div v-for="msg in listMessages" :key="msg._id">
                <div
                  :class="[name !== msg.name ? 'ml-auto' : '']"
                  class="media w-50 mb-3"
                >
                  <div class="media-body ml-3">
                    <div>
                      <p
                        :class="[name !== msg.name ? 'bg-primary' : 'bg-light']"
                        class="text-small mb-0 rounded py-2 px-3 mb-2"
                      >
                        {{ msg.msg }}
                      </p>
                    </div>
                    <p class="small text-muted">{{ msg.date }}</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Typing area -->
            <form action="#" class="bg-light">
              <div class="input-group">
                <button id="button-addon2" type="submit" class="btn btn-link">
                  <b-icon icon="paperclip"></b-icon>
                </button>
                <input
                  id="message"
                  v-on:keyup.enter.prevent="clickSendMessage"
                  v-model="message"
                  type="text"
                  placeholder="Введите сообщение..."
                  aria-describedby="button-addon2"
                  class="form-control rounded-0 border-0 py-4 bg-light"
                />
                <div class="input-group-append">
                  <button
                    @click.prevent="clickSendMessage"
                    id="button-addon2"
                    type="submit"
                    class="btn btn-link"
                  >
                    <b-icon icon="cursor-fill"></b-icon>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </b-row>
        <div class="logouth">
          <b-button
            @click="clickLogAuth"
            variant="outline-secondary"
            title="Выход"
          >
            <b-icon icon="power" aria-hidden="true"></b-icon>Выход
          </b-button>
        </div>
        <div class="logouth">
          <!-- <b-button
            @click="clickInfo"
            variant="outline-secondary"
            title="Выход"
          >
            <b-icon icon="power" aria-hidden="true"></b-icon>Отправить
            информацию о клиенте
          </b-button> -->
        </div>
      </div>
    </b-overlay>
  </div>
</template>
<script>
import ApiChat from "@/API/Chat";

export default {
  name: "ChatMain",
  data() {
    return {
      message: "",
      listMessages: "",
      errors: "",
      users: "",
      userIdActivChat: null,
      show: false
    };
  },
  methods: {
    // Выход
    clickLogAuth() {
      const self = this;
      self.show = true;
      let uid = localStorage.getItem("uid");
      ApiChat.clickLogAuth(uid)
        .then(res => {
          const isErrors = res.data.isErrors;
          if (!isErrors) {
            localStorage.clear();
            if (self.$route.path !== "/auth") {
              self.$router.replace({ path: "/auth" });
              self.show = false;
            }
          } else {
            self.errors = res.data.strErrors;
            self.show = false;
          }
        })
        .catch(error => console.log(error));
    },
    // Отправка сообщения
    clickSendMessage() {
      const self = this;
      let uid = localStorage.getItem("uid"),
        name = self.$root.name,
        _id = self.$root.id_user;
      ApiChat.clickSendMessage(self.message, uid, name, this.userIdActivChat)
        .then(res => {
          const isErrors = res.data.isErrors;
          if (!isErrors) {
            self.message = "";
            self.getMessages(self.userIdActivChat);
            this.$root.socket.emit("message", {
              from: _id,
              to: self.userIdActivChat
            });
          } else {
            self.errors = res.data.strErrors;
          }
        })
        .catch(error => console.log(error));
    },
    // Получение списка сообщений
    getMessages(id_user) {
      const self = this;
      let uid = localStorage.getItem("uid");
      self.show = true;
      ApiChat.getMessages(uid, id_user)
        .then(res => {
          const isErrors = res.data.isErrors;
          if (!isErrors) {
            self.listMessages = res.data.messages;
            self.show = false;
          } else {
            self.errors = res.data.strErrors;
            self.show = false;
          }
        })
        .catch(error => console.log(error));
    },
    //Получение всех пользователей
    getUsers() {
      const self = this;
      self.show = true;
      let uid = localStorage.getItem("uid");
      ApiChat.getUsers(uid)
        .then(res => {
          const isErrors = res.data.isErrors;
          if (!isErrors) {
            self.users = res.data.users;
            self.show = false;
          } else {
            self.errors = res.data.strErrors;
          }
        })
        .catch(error => console.log(error));
    },
    clickUser(user) {
      this.userIdActivChat = user._id;
      this.name = user.name;
      this.getMessages(user._id);
    },
    checkShowUser(id_user) {
      return id_user !== this.$root.id_user;
    },
    clickInfo() {
      this.$root.socket.emit("myData", { name: 123 });
    }
  },
  mounted() {
    this.getUsers();
  }
};
</script>
<style scoped>
#message {
  box-shadow: none;
}
.media {
  align-items: center;
}
.media h6 {
  margin-left: 20px;
}
.logouth {
  margin: 20px;
}
</style>
